app/app_data.json
app/student_activity.xlsx
modules/*
archive/*
modular/*
modules - 01052026/*
web - 01092026/*
x_modular/*
daily-status - 12192025/*

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/
__pycache__/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
