{% extends 'base.html' %}

{% block title %}The Helping House - Admin Login{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_login.css') }}">
{% endblock %}

{% block header %}
    Student Activity Tracker
{% endblock %}

{% block content %}
  <div class="window header" role="region" aria-label="Main form">

    <section class="password-container" role="region" aria-label="Admin login">
        <h3>Admin Functions</h3>
        <form action="{{ url_for('admin.verify_admin') }}" method="POST" class="login-form" aria-label="Admin password form">
            <input class="password-input" type="password" name="admin_password" placeholder="Enter Password" required aria-required="true">
            <button type="submit" class="button login-button">Admin Login</button>
        </form>

        <form action="/main" method="GET" class="return-form">
            <button type="submit" class="button return-button">Return</button>
        </form>
    </section>

    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
</div>
