{% extends 'base.html' %}

{% block title %}The Helping House - Admin Login{% endblock %}

{% block extra_head %}
{% endblock %}

{% block header %}
    Student Activity Tracker
{% endblock %}

{% block content %}
    <section class="window title-container" role="region" aria-label="Admin login">
        <h3>Admin Functions</h3>
        <form action="{{ url_for('admin.verify_admin') }}" method="POST" aria-label="Admin password form">
            <input class="password-input" type="password" name="admin_password" placeholder="Enter Password" required aria-required="true">
            <button type="submit" class="button green-button">Admin Login</button>
        </form>

        <form action="/main" method="GET">
            <button type="submit" class="button purple-button">Return</button>
        </form>
    </section>

    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
</div>
