{% extends 'base.html' %}

{% block title %}The Helping House{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block header %}
    Student Activity Tracker<br>Login
{% endblock %}

{% block content %}
<section class="button-container" role="region" aria-label="Login">
    <form action="/" method="POST" aria-label="Site Login form">
        <!-- Username Input -->
        <div>
            <input class="username-input" type="text" name="username" placeholder="Employee Initials" required aria-required="true">
        </div>
        
        <!-- Password Input and Submit Button -->
        <div>
            <input class="password-input" type="password" name="password" placeholder="Enter Password" required aria-required="true">
            <button class="button green-button type="submit">Enter</button>
        </div>
    </form>
</section>
{% endblock %}