<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Helping House</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="window header">
        <img src="./static/images/thh_logo.png" alt="Access Restricted">
        <div class="password-container">
            <h1>Student Activity Tracker</h1>
            <form action="/" method="POST" class="login-form">
                <input class="password-input" type="password" name="password" placeholder="Enter Password" required>
                <button class="button" type="submit">Enter</button>
            </form>
        </div>
    </div>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages" style="grid-column: span 4;">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>