/* Admin-Specific Styles */
.header-buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    justify-items: stretch;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.add-button {
    background-color: #b9ebb9;
    color: #333;
    border: 1px solid #428C41;
}

.add-button:hover {
    background-color: #428C41;
    color: white;
}

.remove-button {
    background-color: #dbb1e0;
    color: #333;
    border: 1px solid #76408C;
}

.remove-button:hover {
    background-color: #76408C;
    color: white;
}

.report-button {
    background-color: #b9ebb9;
    color: #333;
    border: 1px solid #428C41;
}

.report-button:hover {
    background-color: #428C41;
    color: white;
}