/* Admin Login-Specific Styles */
.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}

.return-form {
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
}

.return-button {
    background-color: #dbb1e0;
    color: #333;
    width: 100%;
}

.return-button:hover {
    background-color: #76408C;
    color: white;
}