/* Login-Specific Styles */
.login-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password-container h1 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    padding-bottom: 15px;
}

@media (max-width: 700px) {
    .login-form {
        flex-direction: column;
        gap: 8px;
    }

    .password-container h1 {
        font-size: 1.4rem;
    }
}